[KSplash Theme: Default]
Name = Sabayon KDE Splash Screen
Description = Sabayon KDE Splash Screen
Version = 6
Author =  Ian Whyman <ian.whyman@sabayon.org>, Nuno Pinheiro <nuno@oxygen-icons.org> & Riccardo Iaconelli <riccardo@kde.org>
Homepage = http://www.sabayon.org

# Theme behaviour settings.
Engine = KSplashX
