[KdmGreeterTheme]
Greeter=glassified.xml
Name=Glassified
Description=Sabayon's Glassified KDM-Theme
Author=Marcel Nowaczyk (Background created by Nuno Pinheiro)
Copyright=(c) 2009 Marcel Nowaczyk (Background created by Nuno Pinheiro)
Screenshot=screenshot.png

