[KSplash Theme: Lines]
Name = Sabayon4
Description = Simple splash screen for KDE3
Version = 0.1
Author = Ian Whyman (based on Pau-Splash-Kde by Pau Cors Bardolet)
Homepage = www.sabayonlinux.org
Engine = Moodin

Background = Background.png
BeginOpacity = 0.1
BaseResolution = 1365,1024
UseIconSet = false
LabelShadow = 0

ImageCoords1 = 300,450
ImageCoords2 = 400,450
ImageCoords3 = 500,450
ImageCoords4 = 600,450
ImageCoords5 = 700,450
ImageCoords6 = 800,450
ImageCoords7 = 900,450
ImageCoords8 = 1000,450

LineUpImages = false
ImageOffset1 = 0,0

StatusCoords = -1,575
StatusFont = Sans,18,-1,5,50,0
StatusColor = #FAFAFA
StatusFont = Sans,14,-1,5,50,0
