[KdmGreeterTheme]
Greeter=sabayon.xml
Name=sabayon
Description=Based on the Glassified KDM-Theme
Author=Ian "Thev00d00" Whyman
Copyright=(c) Sabayon Linux

