menu#file-menu {color: white ! important;}
menu#edit-menu {color: white ! important;}
menu#view-menu {color: white ! important;}
menu#history-menu {color: white ! important;}
menu#bookmarksMenu {color: white ! important;}
menu#tools-menu {color: white ! important;}
menu#helpMenu {color: white ! important;}