[Desktop Entry]
Name=Radial (thin borders)
Comment=Aurorae port of aceph's emerald theme

X-KDE-PluginInfo-Author=scnd101
X-KDE-PluginInfo-Email=scnd101
X-KDE-PluginInfo-Name=radial
X-KDE-PluginInfo-Version=0.81
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
