[KSplash Theme: Default]
Name = Sabayon KDE Splash Screen
Description = Sabayon KDE Splash Screen
Version = 5.0_beta2
Author = Nuno Pinheiro <nuno@oxygen-icons.org> & Riccardo Iaconelli <riccardo@kde.org>, Ian Whyman <ian.whyman@sabayonlinux.org>
Homepage = http://www.sabayon.org

# Theme behaviour settings.
Engine = KSplashX
